<form [formGroup]="dateRangeForm">
  <div class="row">
     <div class="col pb-3 align-self-center">
      <div class="row">
        <div class="col-md-1">
          <span>Từ ngày</span>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" name="fromDate" id="fromDate" formControlName="fromDate"
          (change)="changeDateEvent($event)" [value]="today" />
        </div>
        <div class="col-md-1">
          <span>Đến ngày</span>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" name="toDate" id="toDate" formControlName="toDate"
      (change)="changeDateEvent($event)" />
        </div>
      </div>
  </div>
  </div>

</form>

<div class="row">
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số việc đã đăng</span>
          <span class="float-right">{{statistic.allJob}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số hồ sơ chờ phỏng vấn</span>
          <span class="float-right">{{statistic.waitingForInterview}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số hồ sơ đang chờ phỏng vấn</span>
          <span class="float-right">{{statistic.interviewing}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/job" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số việc gần hết hạn</span>
          <span class="float-right">{{statistic.notDoneJob}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/job" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số lượt xem</span>
          <span class="float-right">{{statistic.totalViewJob}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số ứng viên đang tuyển</span>
          <span class="float-right">{{statistic.totalApply}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số ứng viên thành công</span>
          <span class="float-right">{{statistic.successRecruitedApplicant}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning mb-3" routerLink="/admin/jobRegister" style="max-width: 18rem;cursor: pointer;">
      <div class="card-body text-warning">
          <span style="color: black;">Số ứng viên bị từ chối</span>
          <span class="float-right">{{statistic.notDoneJob}}</span>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="row">
    <div class="col-md-6">
    <h1>Line chart</h1>
    <canvas #lineCanvas style="height:20vh; width:20vw"></canvas>
    <hr color="red">
  </div>
  <div class="col-md-6">
    <h1>Pie chart</h1>
    <canvas #pieCanvas style="height:20vh; width:20vw"></canvas>
    <hr color="red">
  </div>
  </div>

</div>




