<div class="container">
  <div class="d-flex">

    <button type="button" (click)="downloadCV(data.cv)" class="btn btn-success" style="margin-right: 1px;">Tải CV</button>

    <div *ngIf="data.statusJobRegisterName === 'chờ duyệt'">
      <form (ngSubmit)="onChangeStatus(data.id, $event)" [formGroup]="formChangeStatus">
        <input type="hidden" name="status" value="chờ phỏng vấn" />
        <input type="hidden" value="" name="reason"/>
        <button type="submit" class="btn btn-success" style="margin-right: 1px;">Xét duyệt</button>
      </form>
    </div>

    <div *ngIf="data.statusJobRegisterName !== 'ứng viên bị từ chối'">
        <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-success" style="margin-right: 1px;">Từ chối ứng viên</button>

      <form (ngSubmit)="onChangeStatus(data.id, $event)" [formGroup]="formChangeStatus">

        <input type="hidden" name="status" value="ứng viên bị từ chối" />
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Lý do từ chối</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Lý do</label>
                </div>
                <div class="col-auto">
                  <input type="text" name="reason" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" style="margin-right: 1px;">submit</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div *ngIf="data.statusJobRegisterName === 'ứng viên bị từ chối' || data.statusJobRegisterName === 'ứng viên đã hủy ứng tuyển'">
      <button  type="button" (click)="openPopup()" class="btn btn-success" style="margin-right: 1px;">Xem lý do</button>

      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Lý do từ chối</h4>
            </div>
            <div class="modal-body">
              <p>{{data.reason}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closePopup()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="data.statusJobRegisterName === 'chờ phỏng vấn'">
      <button type="button" (click)="openPopup1(data)" class="btn btn-success" style="margin-right: 1px;">Đặt lịch phỏng vấn</button>

      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Đặt lịch phỏng vấn</h4>
            </div>
            <div class="modal-body">
              <form [formGroup]="formInterview">
                <input type="hidden" formControlName="userId" value="{{data.user_id}}" />
                <input type="hidden" formControlName="jobRegisterId" value="{{data.id}}" />
                <div class="col-md-12">
                  <label >Thời gian phỏng vấn:</label>
                  <input type="datetime-local" class="form-control" id="dateinterview"
                         formControlName="date" >
                </div>


                <div class="col-md-6">
                  <label >Hình thức phỏng vấn:</label>
                  <mat-radio-group aria-label="Select an option" >
                    <mat-radio-button formControlName="method" value="offline" style="margin-right: 5px;" (change) ="closeCombobox()">Offline</mat-radio-button>
                    <mat-radio-button formControlName="method" value="online" (change) ="openCombobox()">Online</mat-radio-button>
                    <div [ngStyle]="{'display': licensed}">
                      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="tools" >
                        <option value="Skype">Skype</option>
                        <option value="Google meet">Google meet</option>
                        <option value="Classroom">Classroom</option>
                      </select>
                    </div>
                  </mat-radio-group>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button  class="btn btn-primary" (click)="onSubmit()" type="submit">Submit</button>
              <button type="button" class="btn btn-danger" (click)="closePopup1()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="data.statusJobRegisterName === 'đang phỏng vấn'">
      <button type="button" (click)="openPopup1(data)" class="btn btn-success" style="margin-right: 1px;">Tuyển thành công</button>
    </div>


  </div>

  <strong style="font-size: larger">Thông tin chung</strong>
  <div class="box-main d-flex justify-content-between p-5">
    <div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/1.svg" alt="">
        <div>
          <strong>Mức lương </strong> <br>
          <span>{{data.minSalary}}-{{data.maxSalary}} triệu</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/5.svg" alt="">
        <div>
          <strong>Số lượng tuyển </strong> <br>
          <span>{{data.qtyPerson}} người</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/2.svg" alt="">
        <div>
          <strong>Hình thức làm việc </strong> <br>
          <span>Toàn thời gian</span>
        </div>
      </div>
    </div>
    <div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/6.svg" alt="">
        <div>
          <strong>Cấp bậc </strong> <br>
          <span>Nhân viên</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/3.svg" alt="">
        <div>
          <strong>Giới tính </strong> <br>
          <span>Không yêu cầu</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/7.svg" alt="">
        <div>
          <strong>Kinh nghiệm </strong> <br>
          <span>Không yêu cầu kinh nghiệm</span>
        </div>
      </div>
    </div>
  </div>
</div>


