<div class="container">
  <strong style="font-size: larger">Thông tin chung</strong>
  <div class="box-main d-flex justify-content-between p-5">
    <div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/1.svg" alt="">
        <div>
          <strong>Mức lương </strong> <br>
          <span>{{data.minSalary}}-{{data.maxSalary}} triệu</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/5.svg" alt="">
        <div>
          <strong>Số lượng tuyển </strong> <br>
          <span>{{data.qtyPerson}} người</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/2.svg" alt="">
        <div>
          <strong>Hình thức làm việc </strong> <br>
          <span>Toàn thời gian</span>
        </div>
      </div>
    </div>
    <div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/6.svg" alt="">
        <div>
          <strong>Cấp bậc </strong> <br>
          <span>Nhân viên</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/3.svg" alt="">
        <div>
          <strong>Giới tính </strong> <br>
          <span>Không yêu cầu</span>
        </div>
      </div>
      <div class="box-item d-flex mt-3">
        <img class="mr-3" src="https://www.topcv.vn/v4/image/job-detail/icon/7.svg" alt="">
        <div>
          <strong>Kinh nghiệm </strong> <br>
          <span>Không yêu cầu kinh nghiệm</span>
        </div>
      </div>
    </div>
  </div>
</div>


