<form>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Tên công việc</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.name}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Mô tả công việc</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.description}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Đãi ngộ</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.interrest}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Địa chỉ làm việc</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.addressWork}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Số năm kinh nghiệm</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.numberExperience}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Số lượng người cần tuyển</label>
      <input type="email" class="form-control" id="inputEmail4" value="{{job.qtyPerson}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Lương</label>
      <input type="email" class="form-control" id="inputEmail4" value="{{job.salaryMin}} đến {{job.salaryMax}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">View</label>
      <input type="email" class="form-control" id="inputEmail4" value="{{job.views}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Người liên hệ</label>
      <input type="email" class="form-control" id="inputEmail4" value="{{job.contact.fullName}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Người tạo tin</label>
      <input type="text" class="form-control" id="inputPassword4" value="{{job.creater.fullName}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Trạng thái tin tuyển dụng</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.statusJob.description}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Phương thức làm việc</label>
      <input type="text" class="form-control" id="inputPassword4" value="{{job.method_work.description}}"  disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Vị trí cần tuyển</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.jobPosition.description}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Ngày tạo tin</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.createDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Ngày bắt đầu đăng</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.startRecruitmentDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Hạn</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.dueDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
  </div>
</form>
