<ng-template [ngIf]="job && user">
  <div class="mb-5">
    <ng-template [ngIf]="user.roles[0].id === 1 || user.roles[0].id === 2">
      <p-button label="Cập nhật"  class="mr-2" (click)="onUpdate(job.id)"></p-button>
    </ng-template>
    <ng-template [ngIf]="user.roles[0].id === 1 || user.roles[0].id === 2 ">
      <p-button label="Xem trước"  class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="user.roles[0].id === 1 && job.statusJob.id === 3">
      <p-button label="Xét duyệt" (onClick)="onBrowse()"  class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="user.roles[0].code === 1 && job.statusJob.id === 3">
      <p-button label="Từ chối duyệt"  (click)="showPositionDialog('top')" class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="job.statusJob.id === 2">
      <p-button label="Đăng tuyển" (onClick)="onUp()"  class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="job.statusJob.id === 1">
      <p-button label="Dừng tuyển" (onClick)="onStop()"  class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="job.statusJob.id === 1 || job.statusJob.id === 6">
      <p-button label="Đóng" (onClick)="onClose()" class="mr-2"></p-button>
    </ng-template>
    <ng-template [ngIf]="user.roles[0].id === 1 && job.statusJob.id === 4 ||job.statusJob.id === 5 ">
      <p-button label="Xóa" (onClick)="onDelete(job.id)" routerLink="/home/job" class="mr-2"></p-button>
    </ng-template>
  </div>
</ng-template>
<form>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Tên công việc</label>
      <input type="text" class="form-control" id="inputEmail4" value="{{job.name}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Mô tả công việc</label>
      <input type="text" class="form-control"  value="{{job.description}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Đãi ngộ</label>
      <input type="text" class="form-control"  value="{{job.interrest}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Địa chỉ làm việc</label>
      <input type="text" class="form-control"  value="{{job.addressWork}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Số năm kinh nghiệm</label>
      <input type="text" class="form-control"  value="{{job.numberExperience}} năm" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Số lượng người cần tuyển</label>
      <input type="email" class="form-control"  value="{{job.qtyPerson}} (người)" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Lương</label>
      <input type="email" class="form-control"  value="{{job.salaryMin}} đến {{job.salaryMax}} (USD)" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">View</label>
      <input type="email" class="form-control"  value="{{job.views}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Người liên hệ</label>
      <input type="email" class="form-control"  value="{{job.contact.userName}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Người tạo tin</label>
      <input type="text" class="form-control"  value="{{job.creater.userName}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Trạng thái tin tuyển dụng</label>
      <input type="text" class="form-control"  value="{{job.statusJob.name}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Phương thức làm việc</label>
      <input type="text" class="form-control" id="inputPassword4"  value="{{job.workingForm.code}}"  disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Vị trí cần tuyển</label>
      <input type="text" class="form-control"  value="{{job.jobPosition.description}}" disabled>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Ngày tạo tin</label>
      <input type="text" class="form-control"  value="{{job.createDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Ngày bắt đầu đăng</label>
      <input type="text" class="form-control"  value="{{job.startRecruitmentDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Hạn</label>
      <input type="text" class="form-control"  value="{{job.dueDate | date: 'dd-MM-yyyy'}}" disabled>
    </div>
  </div>
</form>

<p-dialog header="Nhập lý do" [(visible)]="displayPosition" [position]="position" [modal]="true"
          [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <div class="container text-center">
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="reasonDto.reason"></textarea>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" type="submit" (click)="onRefuse()" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayPosition=false" label="No" class="ml-2"></p-button>
  </ng-template>
</p-dialog>

<ngx-job-reason [displayPosition]="displayPositionReason" (checkedChange)="displayPositionReason = $event" [content]="job.reason"></ngx-job-reason>
