<div class="job-post-company pt-120 pb-120">
  <div class="container">



    <div class="row justify-content-between">
      <!-- Left Content -->
      <div class="col-xl-7 col-lg-8">
        <!-- job single -->
        <div class="single-job-items mb-50">
          <div class="job-items">
            <div class="company-img company-img-details">
              <a href="#"><img src="https://bitly.com.vn/tg93ry" alt=""></a>
            </div>
            <div class="job-tittle">
              <a href="#">
                <h4>{{data.name}}</h4>
              </a>
              <ul>
                <li><i class="fas fa-map-marker-alt"></i>{{data.addressWork}}</li>
                <li>{{data.salaryMin}} - {{data.salaryMax}} triệu</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- job single End -->

        <div class="job-post-details">
          <div class="post-details1 mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Mô tả công việc</h4>
            </div>
            <p>{{data.description}}</p>
          </div>
          <div class="post-details2  mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Yêu cầu công việc</h4>
            </div>
            <ul>
              <li>{{data.jobRequirement}}</li>
              <li>Ít nhất {{data.numberExperience}} năm kinh nghiệm</li>
              <li>Sử dụng tin học văn phòng thành thạo</li>
<!--              <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>-->
<!--              <li>Research and code , libraries, APIs and frameworks</li>-->
<!--              <li>Strong knowledge on software development life cycle</li>-->
<!--              <li>Strong problem solving and debugging skills</li>-->
            </ul>
          </div>
          <div class="post-details2  mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Quyền lợi được hưởng</h4>
            </div>
            <ul>
              <li>Thời gian làm làm việc: 8h30 - 17h30 Thứ 2 - Thứ 6</li>
              <li>Không gian làm việc hiện đại với những đồng nghiệp trẻ trung, năng động & thân thiện.</li>
<!--              <li>Ecommerce website design experience</li>-->
<!--              <li>Familiarity with mobile and web apps preferred</li>-->
<!--              <li>Experience using Invision a plus</li>-->
            </ul>
          </div>
        </div>

      </div>
      <!-- Right Content -->
      <div class="col-xl-4 col-lg-4">
        <div class="post-details3  mb-50">
          <!-- Small Section Tittle -->
          <div class="small-section-tittle">
            <h4>Tổng quan công việc</h4>
          </div>
          <ul>
            <li>Ngày đăng : <span>{{data.createDate | date:'dd-MM-yyyy'}}</span></li>
            <li>Địa điểm : <span>{{data.addressWork}}</span></li>
            <li>Số lượng tuyển : <span>{{data.qtyPerson}} người</span></li>
            <li>Hình thức làm việc : <span>{{data.workingForm.code}}</span></li>
            <li>Lương :  <span>từ {{data.salaryMin}} đến {{data.salaryMax}} triệu</span></li>
            <li>Hạn ứng tuyển : <span>{{data.dueDate | date:'dd-MM-yyyy'}}</span></li>
          </ul>
          <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" (click)="recruitment()" type="button">Ứng tuyển ngay</button></div>

          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Lý do từ chối</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-8">
                      <label class="btn btn-default p-0">
                        <input type="file" (change)="selectFile($event)"/>
                      </label>
                    </div>
                  </div>

                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Giới thiệu về bản thân" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Giới thiệu về bản thân</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  class="btn btn-primary" (click)="createJobRegister()" type="button">Gửi thông tin</button>
                  <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="post-details4  mb-50">
          <!-- Small Section Tittle -->
          <div class="small-section-tittle">
            <h4>Company Information</h4>
          </div>
          <span>Colorlib</span>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <ul>
            <li>Name: <span>Colorlib </span></li>
            <li>Web : <span> colorlib.com</span></li>
            <li>Email: <span>carrier.colorlib@gmail.com</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
