<h2>Cập nhật thông tin công ty</h2>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfContact" class="row justify-content-md-center container">
  <div class="col-md-8">
    <div class="form-group ">
      <label for="example-text-input"  >Tên công ty</label>
      <div class="form-group">
        <input [(ngModel)]="name" class="form-control" type="text" formControlName="name">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('name')?.errors?.required && rfContact.get('name')?.touched">
      Name is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Email</label>
      <div class="form-group">
        <input [(ngModel)]="email" class="form-control" id="example-text-input" type="text" formControlName="email">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('email')?.errors?.required && rfContact.get('email')?.touched">
      email is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >HotLine</label>
      <div class="form-group">
        <input [(ngModel)]="hotLine" class="form-control" type="text" formControlName="hotLine">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('hotLine')?.errors?.required && rfContact.get('hotLine')?.touched">
      email is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Mã số thuế</label>
      <div class="form-group">
        <input [(ngModel)]="taxCode" class="form-control" type="text" formControlName="taxCode">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('taxCode')?.errors?.required && rfContact.get('taxCode')?.touched">
      taxCode is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Mã số thuế</label>
      <div class="form-group">
        <input [(ngModel)]="taxCode" class="form-control" type="text" formControlName="taxCode">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('taxCode')?.errors?.required && rfContact.get('taxCode')?.touched">
      taxCode is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Địa chỉ chụ sở chính</label>
      <div class="form-group">
        <input [(ngModel)]="headOffice" class="form-control" type="text" formControlName="headOffice">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('headOffice')?.errors?.required && rfContact.get('headOffice')?.touched">
      headOffice is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Số lượng nhân viên</label>
      <div class="form-group">
        <input [(ngModel)]="numberStaff" class="form-control" type="text" formControlName="numberStaff">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('numberStaff')?.errors?.required && rfContact.get('numberStaff')?.touched">
      numberStaff is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Số lượng nhân viên</label>
      <div class="form-group">
        <input [(ngModel)]="numberStaff" class="form-control" type="text" formControlName="numberStaff">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('numberStaff')?.errors?.required && rfContact.get('numberStaff')?.touched">
      numberStaff is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Link Website</label>
      <div class="form-group">
        <input [(ngModel)]="linkWeb" class="form-control" type="text" formControlName="linkWeb">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('linkWeb')?.errors?.required && rfContact.get('linkWeb')?.touched">
      linkWeb is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Mô tả công ty</label>
      <div class="form-group">
        <input [(ngModel)]="description" class="form-control" type="text" formControlName="description">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('description')?.errors?.required && rfContact.get('description')?.touched">
      description is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input"  >Ngày thành lập</label>
      <div class="form-group">
        <input [(ngModel)]="dateIncoporation" class="form-control" type="text" formControlName="dateIncoporation">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('dateIncoporation')?.errors?.required && rfContact.get('dateIncoporation')?.touched">
      DateIncoporation is required!
    </div>



    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button  class="btn btn-primary" type="submit" routerLink="/home/job" [disabled]=!this.rfContact.valid>Submit</button>
      </div>
    </div>
  </div>
</form>
