
<form class="needs-validation" [formGroup]="formSearch" (ngSubmit)="search()">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label >Tên ứng viên</label>
      <input type="text" class="form-control" placeholder="Tên ứng viên" id="jobName" formControlName="fullName">
    </div>
    <div class="col-md-4 mb-3">
      <label >Vị trí ứng tuyển</label>
      <input type="text" class="form-control" formControlName="jobName" placeholder="Vị trí ứng tuyển"
             required>
    </div>
    <div class="col-md-4 ">
      <label >Trạng thái</label>
      <select formControlName="idStatusJobRegister" class="form-select" aria-label="Default select example">
        <option value="1">Chờ duyệt</option>
        <option value="2">Chờ phỏng vấn</option>
        <option value="3">Đang phỏng vấn</option>
        <option value="4">Đã tuyển</option>
        <option value="5">Ứng viên bị từ chối</option>
        <option value="6">Ứng viên đã hủy ứng tuyển</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" style="margin-left: 549px;">Tìm
    kiếm</button>
</form>
<table id="tb-view" class="table table-bordered table-sm table-hover table-striped" style="margin-top: 30px;">
  <thead>
  <tr>
    <th>Tên ứng viên</th>
    <th>Vị trí tuyển dụng</th>
    <th>Thời gian ứng tuyển</th>
    <th>Phương thức phỏng vấn</th>
    <th>Địa điểm</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let items of datas">
    <td >{{items.userName}}</td>
<!--    <td routerLink="/home/jobRegister/{{items.id}}">{{items.jobPosition}}</td>-->
    <td >{{items.jobName}}</td>
    <td >{{items.dateInterview| date:'dd-MM-yyyy'}}</td>
    <td >{{items.methodInterview}}</td>
    <td >{{items.addressInterview}}</td>
    <td class="text-nowrap" style="width: 1px;">
      <button type="button" class="btn btn-danger" style="margin-right: 1px;"
              routerLink="/admin/jobRegister/{{items.id}}">Chi tiết</button>

      <button type="button" (click)="downloadCV(items.cv)" class="btn btn-success" style="margin-right: 1px;">Tải CV</button>

      <div *ngIf="items.statusJobRegisterName === 'ứng viên bị từ chối' || items.statusJobRegisterName === 'ứng viê đã hủy ứng tuyển'">
        <button  type="button" data-bs-toggle="modal" data-bs-target="#modalReason" class="btn btn-dark" style="margin-right: 1px;">Xem lý do</button>

        <div class="modal" id="modalReason">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Lý do từ chối</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="col-auto">
                  <h1>{{items.reason}}</h1>
                </div>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div *ngIf="items.statusJobRegisterName === 'chờ phỏng vấn'">
        <button type="button" (click)="openPopup1(items)" class="btn btn-info" style="margin-right: 1px;">Đặt lịch phỏng vấn</button>

        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Đặt lịch phỏng vấn</h4>
              </div>
              <div class="modal-body">
                <form  [formGroup]="formInterview">
                  <input type="hidden" formControlName="userId" value="{{items.user_id}}" />
                  <input type="hidden" formControlName="jobRegisterId" value="{{items.id}}" />
                  <div class="col-md-12">
                    <label >Thời gian phỏng vấn:</label>
                    <p-calendar formControlName="date" [showTime]="true" [showIcon]="true" [minDate]="currentDate" inputId="time"></p-calendar>
                  </div>
                  <div class="col alert alert-danger" role="alert"
                       *ngIf="formInterview.get('date')?.errors?.required && formInterview.get('date')?.touched">
                    Date is required!
                  </div>

                  <div class="col-md-6">
                    <label >Hình thức phỏng vấn:</label>
                    <mat-radio-group aria-label="Select an option" >
                      <mat-radio-button formControlName="method" value="offline" style="margin-right: 5px;" (change) ="closeCombobox()">Offline</mat-radio-button>
                      <mat-radio-button formControlName="method" value="online" (change) ="openCombobox()">Online</mat-radio-button>
                      <div [ngStyle]="{'display': licensed}">
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="tools" >
                          <option value="Skype">Skype</option>
                          <option value="Google meet">Google meet</option>
                          <option value="Classroom">Classroom</option>
                        </select>
                      </div>
                    </mat-radio-group>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button  class="btn btn-primary" (click)="onSubmit()" type="submit">Submit</button>
                <button type="button" class="btn btn-danger" (click)="closePopup1()">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </td>
  </tr>
  </tbody>
</table>
<p-paginator (onPageChange)="paginate($event)" [rows]="2" [totalRecords]="20" [rowsPerPageOptions]="[2,4,6,8]"></p-paginator>
