<form class="needs-validation" [formGroup]="searchUserForm" (ngSubmit)="onSearch()">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label >Tên đầy đủ</label>
      <input type="text" class="form-control" placeholder="Tìm theo tên đầy đủ" id="fullName" (input)="onSearch()" formControlName="fullName">
    </div>
    <div class="col-md-3 mb-3">
      <label >email</label>
      <input type="text" class="form-control" id="email" formControlName="email" (input)="onSearch()" placeholder="Tìm theo email"
             required>
    </div>
    <div class="col-md-3 mb-3">
      <label >User name</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" (input)="onSearch()" placeholder="Tìm theo userName"
             required>
    </div>
  </div>
  <button class="btn btn-primary mr-5" type="submit" style="" routerLink="/home/user-add">Thêm user</button>


</form>
<div  class="">
  <table id="tb-view" class="table table-bordered table-sm table-hover table-striped" style="margin-top: 30px;">
  <thead>
  <tr>
    <th>Tên đầy đủ</th>
    <th>Email</th>
    <th>User name</th>
    <th>Ngày sinh</th>
    <th>Số DT</th>
    <th>Trạng thái</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of users ">
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.userName}}</td>
    <td>{{item.birthDay | date:'dd-MM-yyyy'}}  </td>
    <td>{{item.phoneNumber}}</td>
    <td>
      <ng-template [ngIf]="item.activate">Đang hoạt động</ng-template>
      <ng-template [ngIf]="!item.activate">Ngừng hoạt động</ng-template>
    </td>
    <td class="text-nowrap" style="width: 1px;">
      <button type="button" class="btn btn-success" style="margin-right: 1px;"
              routerLink="/home/user-detail/{{item.id}}">Chi tiết</button>
    </td>
    <td class="text-nowrap" style="width: 1px;">
      <button type="button" class="btn btn-primary" style="margin-right: 1px;" (click)="onActive(item.userName)">
                <ng-template [ngIf]="!item.activate">Kích hoạt</ng-template>
                <ng-template [ngIf]="item.activate">Hủy kích hoạt</ng-template>
              </button>
    </td>
  </tr>
  </tbody>
</table>
</div>

<p-paginator id="paging" [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,15]" pageLinkSize="3" (onPageChange)="handlePageSizeChange($event)"></p-paginator>

