<button type="button" class="btn btn-danger" style="margin-right: 1px;"
        routerLink="/admin/job-add">Thêm mới tin tuyển dụng</button>
<br>
<!--(ngSubmit)="onSearch()-->
<form class="needs-validation" style="padding-top: 24px"  [formGroup]="formSeachJob" >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label >Tên công việc</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Tên công việc" id="jobName" >
    </div>
    <div class="col-md-4 mb-3">
      <label >Mức lương tối thiểu</label>
      <input type="text" class="form-control" id="salarymin" formControlName="salaryMin"  placeholder="Mức lương tối thiểu"
             required>
    </div>
    <div class="col-md-4 mb-3">
      <label >Mức lương tối đa</label>
      <input type="text" class="form-control" id="salarymax" formControlName="salaryMax"  placeholder="Mức lương tối đa"
             required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Trạng thái công việc</label>
      <select
        class="custom-select mb-3"
        formControlName="statusId"
      >
        <option value="">chọn trạng thái công việc</option>
        <option *ngFor="let status of statusJobs" [ngValue]="status.id">
          {{ status.description }}
        </option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" type="button" style="margin-left: 549px;" (click)="onSearch()">Tìm
    kiếm</button>
</form>
<p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="sắp xếp" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
<table id="tb-view" class="table table-bordered table-sm table-hover table-striped" style="margin-top: 30px;">
  <thead>
  <tr>
    <th>Tên công việc</th>
    <th>Vị trí tuyển dụng</th>
    <th>Mức lương đề xuất</th>
    <th>Hạn nộp hồ sơ</th>
    <th>Trạng thái</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of jobs ">
    <td>{{item.name}}</td>
    <td>{{item.jobPosition.code}}</td>
    <td>{{item.salaryMax}} USD</td>
    <td>{{item.dueDate| date:'fullDate'}}</td>
    <td>{{item.statusJob.name}}</td>
    <td>{{item.views}}</td>
    <td class="text-nowrap" style="width: 1px;">
      <button type="button" class="btn btn-danger" style="margin-right: 1px;"
              routerLink="/admin/job-detail/{{item.id}}">Chi tiết</button>
      <ng-template [ngIf]="item">
        <ng-template [ngIf]="item.statusJob.id === 1 || item.statusJob.id === 2">
          <p-button  label="xem trước" ></p-button>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="item">
        <ng-template [ngIf]="item.statusJob.id === 2">
          <p-button label="đăng tuyển" routerLink="/admin/job-detail/{{item.id}}" ></p-button>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="item">
        <ng-template [ngIf]="item.statusJob.id === 1">
          <p-button label="Export JD" (onClick)="onExportJD(item.id)"></p-button>
        </ng-template>
      </ng-template>
    </td>
  </tr>
  </tbody>
</table>
<div class="grid align-items-center">
  <div class="col-1">
  </div>
  <div class="col-10">
    <p-paginator  [rows]="4" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"
                 [showJumpToPageDropdown]="false" [showPageLinks]="true"></p-paginator>
  </div>
</div>



