
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="changePassForm" class="row justify-content-md-center">

<div class="col-md-8">
  <h2>Confirm change password</h2>
  <br>
  <p>Xin chào {{ email }}</p>
  <div class="form-group row">
    <label for="example-url-twt" class="col-2 col-form-label">
      New password:
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="password"
        id="example-url-twt"
        formControlName="newPass"
        placeholder="input your new password"
        >
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="changePassForm.controls.newPass?.errors?.required && changePassForm.controls.newPass?.touched">
    password is required!
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="changePassForm.controls.newPass?.errors?.pattern && changePassForm.controls.newPass?.touched">
    password is not valid!
  </div>
  <div class="form-group row">
    <label for="example-url-web" class="col-2 col-form-label">
      Confirm password:
    </label>
    <div class="col-10">
      <input
        class="form-control"
        type="password"
        id="example-url-web"
        formControlName="confirmPass"
        placeholder="con firm your new password"
      />
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="changePassForm.controls.confirmPass?.errors?.required && changePassForm.controls.confirmPass?.touched">
    password is required!
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="changePassForm.controls.confirmPass.value !== changePassForm.controls.newPass.value && changePassForm.controls.confirmPass?.touched">
    password does not match!
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">
      OTP:
    </label>
    <div class="col-10">
      <input class="form-control" type="number" formControlName="otp" id="example-tel-input">
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="changePassForm.controls.otp?.errors?.required && changePassForm.controls.otp?.touched">
    password is required!
  </div>
  <div class="form-group row">
    <div class="col-10 offset-2">
      <button class="btn btn-primary" [disabled]=!this.changePassForm.valid type="submit">Submit</button>
    </div>
  </div>
</div>
</form>
