<!-- list product -->
<div class="col-md-8 mb-5">
<!--   <h2>Upload Cv</h2>-->
<!--   <p-fileUpload name="myfile[]" (onSelect)="onSelected($event)" (onBeforeUpload)="onBeforeUpload()" ></p-fileUpload>-->
 </div>
 <div class="container mt-5 mb-5">
  <div *ngFor="let job of dataAll" class="d-flex justify-content-center row">
    <div class="col-md-10">
      <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGhUZN3tdeDf1LXByYgERK6XfpNTVauL8KatXem-Jt4QYp6MkI_nbSMQFvHwYoIJYiQHk&usqp=CAU"></div>
        <div class="col-md-6 mt-1">
          <h5>{{job.name}}</h5>
          <div class="d-flex flex-row">
            <div class="ratings mr-2"> View</div><span>{{job.views}}</span>
          </div>
          <p class="text-justify text-truncate para mb-0">{{job.description}}<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
            <h4 class="mr-1">{{job.salaryMin}} Triệu</h4><span class="strike-text">{{job.salaryMax}} Triệu</span>
          </div>
          <div class="d-flex flex-column mt-4"><button routerLink="/home/detail/{{job.id}}" class="btn btn-primary btn-sm" type="button">Chi tiết</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- search form  -->
<div class="container mb-5 mt-5">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
<div class="container mt-5 mb-5">
<hr>
</div>

<div class="container mt-5 mb-5">
  <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="onSelectedIndexChange($event)">
    <mat-tab label="Việc làm mới tuyển">
      <div *ngFor="let job of data" class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGhUZN3tdeDf1LXByYgERK6XfpNTVauL8KatXem-Jt4QYp6MkI_nbSMQFvHwYoIJYiQHk&usqp=CAU"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{job.name}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"> View</div><span>{{job.views}}</span>
                    </div>
                    <p class="text-justify text-truncate para mb-0">{{job.description}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">{{job.salaryMin}} VNĐ</h4><span class="strike-text">{{job.salaryMax}} VNĐ</span>
                    </div>
                    <div class="d-flex flex-column mt-4"><button routerLink="/home/detail/{{job.id}}" class="btn btn-primary btn-sm" type="button">Details</button></div>
                </div>
            </div>
        </div>
    </div>

    </mat-tab>
    <mat-tab label="Việc làm tuyển gấp">
      <div *ngFor="let job of data" class="d-flex justify-content-center row">
        <div class="col-md-10">
          <div class="row p-2 bg-white border rounded">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGhUZN3tdeDf1LXByYgERK6XfpNTVauL8KatXem-Jt4QYp6MkI_nbSMQFvHwYoIJYiQHk&usqp=CAU"></div>
            <div class="col-md-6 mt-1">
              <h5>{{job.name}}</h5>
              <div class="d-flex flex-row">
                <div class="ratings mr-2"> View</div><span>{{job.views}}</span>
              </div>
              <p class="text-justify text-truncate para mb-0">{{job.description}}<br><br></p>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
              <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1">{{job.salaryMin}} VNĐ</h4><span class="strike-text">{{job.salaryMax}} VNĐ</span>
              </div>
              <div class="d-flex flex-column mt-4"><button routerLink="/home/detail/{{job.id}}" class="btn btn-primary btn-sm" type="button">Details</button></div>
            </div>
          </div>
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Việc làm lương cao">
    <div *ngFor="let job of data" class="d-flex justify-content-center row">
      <div class="col-md-10">
        <div class="row p-2 bg-white border rounded">
          <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGhUZN3tdeDf1LXByYgERK6XfpNTVauL8KatXem-Jt4QYp6MkI_nbSMQFvHwYoIJYiQHk&usqp=CAU"></div>
          <div class="col-md-6 mt-1">
            <h5>{{job.name}}</h5>
            <div class="d-flex flex-row">
              <div class="ratings mr-2"> View</div><span>{{job.views}}</span>
            </div>
            <p class="text-justify text-truncate para mb-0">{{job.description}}<br><br></p>
          </div>
          <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
              <h4 class="mr-1">{{job.salaryMin}} VNĐ</h4><span class="strike-text">{{job.salaryMax}} VNĐ</span>
            </div>
            <div class="d-flex flex-column mt-4"><button  routerLink="/home/detail/{{job.id}}" class="btn btn-primary btn-sm" type="button">Details</button></div>
          </div>
        </div>
      </div>
  </div>
  </mat-tab>
  </mat-tab-group>
</div>

<p-paginator (onPageChange)="paginate($event)" [rows]="2" [totalRecords]="20" [rowsPerPageOptions]="[2,4,6,8]"></p-paginator>
