<h2 class="">Cập Nhật Tin Tuyển Dụng</h2>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfContact" class="row justify-content-md-center container">
  <div class="col-md-8">
    <div class="form-group ">
      <label for="example-text-input"  >Tên công việc:</label>
      <div class="form-group">
        <input [(ngModel)]="name" class="form-control" type="text" formControlName="name">
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('name')?.errors?.required && rfContact.get('name')?.touched">
      Name is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Ví trí công việc:</label>
      <div class="form-group">
        <select
          class="custom-select "
          formControlName="jobPositionId"
          [(ngModel)]="jobPosition.id"
        >
          <option value="jobPosition.id">{{jobPosition.code}}</option>
          <option *ngFor="let jobPosition of jobPositions" [ngValue]="jobPosition.id">
            {{ jobPosition.code }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('jobPositionId')?.errors?.required && rfContact.get('jobPositionId')?.touched">
      JobPosition is required!
    </div>

    <div class="form-group ">
      <label for="example-text-input" >Kinh nghiệm:</label>
      <div class="form-group">
        <input [(ngModel)]="numberExperience" class="form-control" type="number" min="0" id="example-text-input" formControlName="numberExperience">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('numberExperience')?.errors?.required && rfContact.get('numberExperience')?.touched">
      NumberExperience is required!
    </div>
    <div class="form-group">
      <label for="example-text-input">Hình thức làm việc:</label>
      <div class="form-group">
        <select
          class="custom-select mb-3"
          formControlName="workingFormId"
          [(ngModel)]="workingForm.id"
        >
          <option value="workingForm.id">{{workingForm.code}}</option>
          <option *ngFor="let workingForm of workingForms" [ngValue]="workingForm.id">
            {{ workingForm.code }}
          </option>
        </select>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('workingFormId')?.errors?.required && rfContact.get('workingFormId')?.touched">
      workingFormId is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Địa chỉ công việc:</label>
      <div class="col-md-10 pl-0">
        <input [(ngModel)]="addressWork" class="form-control" type="text" formControlName="addressWork">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('addressWork')?.errors?.required && rfContact.get('addressWork')?.touched">
      AddressWork is required!
    </div>
    <div class="form-group">
      <label for="example-text-input">Trình độ học vấn:</label>
      <div class="form-group">
        <select
          class="custom-select mb-3"
          formControlName="academicLevelId"
          [(ngModel)]="academicLevel.id"
        >
          <option value="academicLevel.id">{{academicLevel.code}}</option>
          <option *ngFor="let academicLevel of academicLevels" [ngValue]="academicLevel.id">
            {{ academicLevel.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('academicLevelId')?.errors?.required && rfContact.get('academicLevelId')?.touched">
      AcademicLevelId is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Level:</label>
      <div class="form-group">
        <select
          class="custom-select mb-3"
          formControlName="rankId"
          [(ngModel)]="rank.id"
        >
          <option value="rank.id">{{rank.code}}</option>
          <option *ngFor="let rank of ranks" [ngValue]="rank.id">
            {{ rank.code }}
          </option>
        </select>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('rankId')?.errors?.required && rfContact.get('rankId')?.touched">
      RankId is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Số lượng cần tuyển:</label>
      <div class="form-group">
        <input [(ngModel)]="qtyPerson" class="form-control" type="number" min="1" formControlName="qtyPerson">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('qtyPerson')?.errors?.required && rfContact.get('qtyPerson')?.touched">
      QtyPerson is required!
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('qtyPerson')?.errors?.pattern && rfContact.get('qtyPerson')?.touched">
      QtyPerson không đúng định dạng!
    </div>
    <div class="form-group">
      <label for="example-text-input" >Ngày bắt đâu tuyển:</label>
      <div class="form-group">
        <p-calendar [(ngModel)]="startRequirement" [showTime]="true" inputId="time" formControlName="startRecruitmentDate"></p-calendar>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('startRecruitmentDate')?.errors?.required && rfContact.get('startRecruitmentDate')?.touched">
      StartRecruitmentDate is required!
    </div>

    <div class="form-group">
      <label for="example-text-input" >Hạn nộp hồ sơ:</label>
      <div class="form-group">
        <p-calendar [(ngModel)]="dueDate" [showTime]="true" inputId="time" formControlName="dueDate"></p-calendar>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('dueDate')?.errors?.required && rfContact.get('dueDate')?.touched">
      DueDate is required!
    </div>

    <div class="form-group">
      <label for="example-text-input" >Mô tả công việc:</label>
      <div class="form-group">
        <textarea [(ngModel)]="description" class="form-control" type="text" formControlName="description"></textarea>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('description')?.errors?.required && rfContact.get('description')?.touched">
      Description is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Quyền lợi được hưởng:</label>
      <div class="form-group">
        <textarea  [(ngModel)]="interrest" class="form-control" type="text" formControlName="interrest"></textarea>
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('interrest')?.errors?.required && rfContact.get('interrest')?.touched">
      interrest is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">Yêu cầu công việc:</label>
      <div class="form-group">
        <input [(ngModel)]="jobRequirement" class="form-control" type="text" formControlName="jobRequirement">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('jobRequirement')?.errors?.required && rfContact.get('jobRequirement')?.touched">
      JobRequirement is required!
    </div>

    <div class="form-group">
      <label for="example-text-input">salaryMin:</label>
      <div class="form-group">
        <input [(ngModel)]="salaryMin" class="form-control" type="number"  formControlName="salaryMin">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('salaryMin')?.errors?.required && rfContact.get('salaryMin')?.touched">
      salaryMin is required!
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('salaryMin')?.errors?.pattern && rfContact.get('salaryMin')?.touched">
      salaryMin không đúng định dạng!
    </div>


    <div class="form-group">
      <label for="example-text-input">salaryMax:</label>
      <div class="form-group">
        <input [(ngModel)]="salaryMax" class="form-control" type="number"  formControlName="salaryMax">
      </div>
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('salaryMax')?.errors?.required && rfContact.get('salaryMax')?.touched">
      salaryMax is required!
    </div>
    <div class="col alert alert-danger" role="alert"
         *ngIf="rfContact.get('salaryMax')?.errors?.pattern && rfContact.get('salaryMax')?.touched">
      salaryMax không đúng định dạng!
    </div>


    <div class="form-group">
      <label for="example-text-input">Người liên hệ</label>
      <div class="form-group">
        <select
          class="custom-select mb-3"
          formControlName="contactId"
          [ngModel]="contact.name"
        >
          <option value="contact.id">{{contact.name}}</option>
          <option *ngFor="let je of jes" [ngValue]="je.id">
            {{ je.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group" role="alert"
         *ngIf="rfContact.get('contactId')?.errors?.required && rfContact.get('contactId')?.touched">
      contact is required!
    </div>

<!--    <div formArrayName="skills" *ngIf="skills.controls.length">-->
<!--      <div class="form-group row" *ngFor="let c of skills.controls; index as i">-->
<!--        <label class="col-md-2 col-form-label">Skills:</label>-->
<!--        <div class="col-md-10">-->
<!--          <input class="form-control" type="tel"  [formControlName]="i">-->
<!--          <div class="text-right">-->
<!--            <button type="button" class="btn btn-info" (click)="addSkill()">+</button>-->
<!--            <button type="button" class="btn btn-danger" (click)="removeSkill(i)" *ngIf="skills.controls.length > 1">-</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button  class="btn btn-primary" type="submit" routerLink="/home/job" [disabled]=!this.rfContact.valid>Submit</button>
      </div>
    </div>
  </div>
</form>
