
<form [formGroup]="userDetailForm">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputUserName">Họ tên</label>
      <input type="text" class="form-control" id="inputUserName" formControlName="fullName">
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
      *ngIf="userDetailForm.controls.fullName?.errors?.required && userDetailForm.controls.fullName?.touched">
      Họ tên không được để trống!
    </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputUserName">User name</label>
      <input type="text" class="form-control" id="inputUserName" formControlName="userName" >
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
      *ngIf="userDetailForm.controls.userName?.errors?.required && userDetailForm.controls.userName?.touched">
      userName không được để trống!
    </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputBirthday">Ngày sinh</label>
      <input type="date" class="form-control" id="inputBirthday" formControlName="birthDay" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputEmail">Địa chỉ email</label>
      <input type="email" class="form-control" id="inputEmail" formControlName="email">
    </div>
  </div>
  <div class="col alert alert-danger" role="alert"
      *ngIf="userDetailForm.controls.email?.errors?.required && userDetailForm.controls.email?.touched">
      email không được để trống!
  </div>
  <div class="col alert alert-danger" role="alert"
    *ngIf="userDetailForm.controls.email?.errors?.email && userDetailForm.controls.email?.touched">
    email chưa đúng định dạng!
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputPhone">Số điện thoại</label>
      <input type="number" class="form-control" id="inputPhone" formControlName="phoneNumber" >
    </div>
  </div>
  <div class="form-row">
      <button class="btn btn-primary" type="submit" [disabled]=!this.userDetailForm.valid>Update</button>
    </div>
</form>
