<form novalidate (ngSubmit)="onSubmit()" [formGroup]="registerForm">
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo"
                class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
              />
            </div>

            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">registration</h3>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m">Full name</label>
                      <input type="text" id="form3Example1m" formControlName="fullName" class="form-control form-control-lg" />
                    </div>
                  </div>

                  <div class="col-md-6 mb-3">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">Email</label>
                      <input type="email" id="form3Example1n" formControlName="email" class="form-control form-control-lg" />
                    </div>
                  </div>
                </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.fullName?.errors?.required && registerForm.controls.fullName?.touched">
                  Tên không được để trống!
                </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.email?.errors?.required && registerForm.controls.email?.touched">
                  Email không được để trống!
                </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.email?.errors?.email && registerForm.controls.email?.touched">
                  email chưa đúng định dạng!
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m1">User name</label>
                      <input type="text" id="form3Example1m1" formControlName="userName" class="form-control form-control-lg" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n1">Password</label>
                      <input type="password" id="form3Example1n1" formControlName="password" class="form-control form-control-lg" />
                    </div>
                  </div>
                </div>
                <div class="col alert alert-danger" role="alert"
                    *ngIf="registerForm.controls.userName?.errors?.required && registerForm.controls.userName?.touched">
                    UserName không được để trống!
                  </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.password?.errors?.required && registerForm.controls.password?.touched">
                  password không được để trống!
                </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.password?.errors?.pattern && registerForm.controls.password?.touched">
                  password chưa đúng định dạng!
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example8">Address</label>
                  <input type="text" id="form3Example8" formControlName="hometown" class="form-control form-control-lg" />
                </div>

                <div class="d-md-flex justify-content-start align-items-center mb-3 py-2">
                  <h3 class="mb-0 me-4 mr-2">Gender: </h3>
                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio" formControlName="gender"
                      name="gender"
                      id="femaleGender"
                      value="female"
                      [(ngModel)]="unitTrustsPnl"
                    />
                    <label class="form-check-label" for="femaleGender">Nữ</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio" formControlName="gender"
                      name="gender"
                      id="maleGender"
                      value="male"

                    />
                    <label class="form-check-label" for="maleGender">Nam</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input
                      class="form-check-input"
                      type="radio" formControlName="gender"
                      name="gender"
                      id="otherGender"
                      value="other"
                    />
                    <label class="form-check-label" for="otherGender">Khác</label>
                  </div>
                </div>
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example9">Ngày sinh</label>
                  <input type="date" id="form3Example9" formControlName="birthDay" class="form-control form-control-lg" />
                </div>
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example99">Sô điện thoại</label>
                  <input type="text" id="form3Example99"  formControlName="phoneNumber" class="form-control form-control-lg" />
                </div>
                <div class="col alert alert-danger" role="alert"
                  *ngIf="registerForm.controls.phoneNumber?.errors?.pattern && registerForm.controls.password?.touched">
                  Số điện thoại chưa đúng định dạng!
                </div>
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example99">Ảnh đại diện</label>
                  <!-- <input #fileInput class="" type="file" id="form3Example99"  formControlName="avatarName" class="form-control form-control-lg" /> -->
                  <div class="custom-file">
                    <input type="file"  accept="image/*" class="custom-file-input" formControlName="avatarName" id="importFile" (change)="onSelect($event.target.files)">
                                  <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-image"></i> Choose file</label>
                  </div>
                </div>
                <div *ngIf=dbImage>
                  <img [src]="dbImage" height="150">
              </div>
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg mr-2" >Reset all</button>
                  <button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]=!this.registerForm.valid>Submit form</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
